USE [ProFootballReference]
GO
/****** Object:  Table [dbo].[GameData]    Script Date: 8/28/2023 6:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameData](
	[GameDataId] [int] IDENTITY(1,1) NOT NULL,
	[HomeTeam] [varchar](100) NOT NULL,
	[AwayTeam] [varchar](100) NOT NULL,
	[Week] [int] NULL,
	[Day] [varchar](5) NOT NULL,
	[Time] [varchar](25) NOT NULL,
	[Date] [date] NOT NULL,
	[Season] [int] NOT NULL,
	[HomeResult] [varchar](100) NULL,
	[AwayResult] [varchar](100) NULL,
	[HomeRecord] [varchar](100) NULL,
	[AwayRecord] [varchar](100) NULL,
	[HomeScore] [int] NOT NULL,
	[AwayScore] [int] NOT NULL,
	[HomeOff1stD] [int] NULL,
	[HomeOffTotYd] [int] NULL,
	[HomeOffPassYd] [int] NULL,
	[HomeOffRushYd] [int] NULL,
	[HomeOffTO] [int] NULL,
	[HomeDef1stD] [int] NULL,
	[HomeDefTotYd] [int] NULL,
	[HomeDefPassYd] [int] NULL,
	[HomeDefRushYd] [int] NULL,
	[HomeDefTO] [int] NULL,
	[HomeExPointsOff] [decimal](5, 2) NULL,
	[HomeExPointsDef] [decimal](5, 2) NULL,
	[HomeExPointsSpecial] [decimal](5, 2) NULL,
	[AwayOff1stD] [int] NULL,
	[AwayOffTotYd] [int] NULL,
	[AwayOffPassYd] [int] NULL,
	[AwayOffRushYd] [int] NULL,
	[AwayOffTO] [int] NULL,
	[AwayDef1stD] [int] NULL,
	[AwayDefTotYd] [int] NULL,
	[AwayDefPassYd] [int] NULL,
	[AwayDefRushYd] [int] NULL,
	[AwayDefTO] [int] NULL,
	[AwayExPointsOff] [decimal](5, 2) NULL,
	[AwayExPointsDef] [decimal](5, 2) NULL,
	[AwayExPointsSpecial] [decimal](5, 2) NULL,
	[HomeOddsOpen] [decimal](5, 2) NULL,
	[HomeOddsMin] [decimal](5, 2) NULL,
	[HomeOddsMax] [decimal](5, 2) NULL,
	[HomeOddsClose] [decimal](5, 2) NULL,
	[AwayOddsOpen] [decimal](5, 2) NULL,
	[AwayOddsMin] [decimal](5, 2) NULL,
	[AwayOddsMax] [decimal](5, 2) NULL,
	[AwayOddsClose] [decimal](5, 2) NULL,
	[HomeLineOpen] [decimal](5, 2) NULL,
	[HomeLineMin] [decimal](5, 2) NULL,
	[HomeLineMax] [decimal](5, 2) NULL,
	[HomeLineClose] [decimal](5, 2) NULL,
	[AwayLineOpen] [decimal](5, 2) NULL,
	[AwayLineMin] [decimal](5, 2) NULL,
	[AwayLineMax] [decimal](5, 2) NULL,
	[AwayLineClose] [decimal](5, 2) NULL,
	[HomeLineOddsOpen] [decimal](5, 2) NULL,
	[HomeLineOddsMin] [decimal](5, 2) NULL,
	[HomeLineOddsMax] [decimal](5, 2) NULL,
	[HomeLineOddsClose] [decimal](5, 2) NULL,
	[AwayLineOddsOpen] [decimal](5, 2) NULL,
	[AwayLineOddsMin] [decimal](5, 2) NULL,
	[AwayLineOddsMax] [decimal](5, 2) NULL,
	[AwayLineOddsClose] [decimal](5, 2) NULL,
	[TotalScoreOpen] [decimal](5, 2) NULL,
	[TotalScoreMin] [decimal](5, 2) NULL,
	[TotalScoreMax] [decimal](5, 2) NULL,
	[TotalScoreClose] [decimal](5, 2) NULL,
	[TotalScoreOverOpen] [decimal](5, 2) NULL,
	[TotalScoreOverMin] [decimal](5, 2) NULL,
	[TotalScoreOverMax] [decimal](5, 2) NULL,
	[TotalScoreOverClose] [decimal](5, 2) NULL,
	[TotalScoreUnderOpen] [decimal](5, 2) NULL,
	[TotalScoreUnderMin] [decimal](5, 2) NULL,
	[TotalScoreUnderMax] [decimal](5, 2) NULL,
	[TotalScoreUnderClose] [decimal](5, 2) NULL,
	[ImpliedProbabilityOutrightPick] [varchar](10) NULL,
	[ImpliedProbabilityOutrightPickHomeAway] [varchar](10) NULL,
	[ImpliedProbabilityOutrightPickFavDog] [varchar](10) NULL,
	[ImpliedProbabilityOutrightPickCorrect] [varchar](1) NULL,
	[ImpliedProbabilityOutrightPickHACorrect] [varchar](1) NULL,
	[ImpliedProbabilityOutrightPickFDCorrect] [varchar](1) NULL,
	[ImpliedProbabilitySpreadPick] [varchar](10) NULL,
	[ImpliedProbabilitySpreadPickHomeAway] [varchar](10) NULL,
	[ImpliedProbabilitySpreadPickFavDog] [varchar](10) NULL,
	[ImpliedProbabilitySpreadPickHACorrect] [varchar](1) NULL,
	[ImpliedProbabilitySpreadPickFDCorrect] [varchar](1) NULL,
	[ImpliedProbabilitySpreadPickCorrect] [varchar](1) NULL,
	[ImpliedProbabilityTotalPick] [varchar](10) NULL,
	[ImpliedProbabilityTotalPickCorrect] [varchar](1) NULL,
	[ImpliedProbabilityOutrightPickWager] [decimal](7, 2) NULL,
	[ImpliedProbabilityOutrightPickHomeAwayWager] [decimal](7, 2) NULL,
	[ImpliedProbabilityOutrightPickFavDogWager] [decimal](7, 2) NULL,
	[ImpliedProbabilitySpreadPickWager] [decimal](7, 2) NULL,
	[ImpliedProbabilitySpreadPickHomeAwayWager] [decimal](7, 2) NULL,
	[ImpliedProbabilitySpreadPickFavDogWager] [decimal](7, 2) NULL,
	[ImpliedProbabilityTotalPickWager] [decimal](7, 2) NULL,
	[ImpliedProbabilityOutrightPickWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilityOutrightPickHomeAwayWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilityOutrightPickFavDogWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilitySpreadPickWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilitySpreadPickHomeAwayWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilitySpreadPickFavDogWagerProfit] [decimal](11, 2) NULL,
	[ImpliedProbabilityTotalPickWagerProfit] [decimal](11, 2) NULL,
 CONSTRAINT [PK_GameData] PRIMARY KEY CLUSTERED 
(
	[GameDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
