USE [ProFootballReference]
GO
/****** Object:  UserDefinedTableType [dbo].[tempData2_tbl]    Script Date: 8/28/2023 6:27:09 PM ******/
CREATE TYPE [dbo].[tempData2_tbl] AS TABLE(
	[Team] [varchar](100) NULL
)
GO
